@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.theme-color{
    color:rgb(7, 118, 95);
}
.theme-light{
    color: rgb(57, 158, 138);
}
.basic-btn{
    color: white;
    background-color:rgb(7, 118, 95) !important ;
    font-weight: bold;
}
.active{
    background-color:rgb(7, 118, 95) !important ;
    font-weight: bold;
}